<%= form_for @post, :html => { :multipart => true} do |f| %>
<p>
    <%= f.text_area :caption, :rows => 5, :cols => 30 %>
    <%= f.file_field :photo %>
</p>
<div><%= flash[:error] %></div>
<p><%= f.submit "Submit" %></p>
<%end%>