<!DOCTYPE html>
<html>
<head>
  <title>PhotoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px|Dosis:400,700,600,500,200,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="contain-to-grid fixed">   
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1>
           <%= link_to 'SNAPSHOT', posts_path, :class => "logo"%> 
          </h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
        <% if user_signed_in? %>
          <li>
            <strong><%= link_to "New Post", new_post_path, :class => 'post-link' %></strong>
          </li>
          <li>
            <strong><%= link_to "@" + current_user.email.split("@")[0], '/users/' + current_user.id.to_s + '/posts', :class => 'navbar-link'%>
            </strong>
          </li>
              <li>
                <strong><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></strong>
              </li> 
              <li>
                <strong><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></strong>
              </li>
            </ul>
          </li>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %> 
      </section>
    </nav>
  </div>

  <div id="container">
    <%= yield %>
  </div>

    <!-- Page Footer -->
  <div class="row">
    <hr>
      <div class="large-4 large-centered columns">      
        <p>&copy; 2015 Snapshot - By David Druker.</p>
      </div>    
  </div><!-- End Page Footer -->


</body>
</html>
